.additiona_infor {
    float: left;
    overflow: hidden;
    margin-right: 10px;
}
.add_info, .pilar_add_note_btn {
	color: #009e82;
	font-weight: 400;
	border: 1px solid #009e82;
	border-radius: 3px;
	z-index: 99999999;
	font-size: 13px;
	background: transparent;
    cursor: pointer;
}
.add_info{
    min-width: auto;
    margin: 0;
    right: 0;
    margin-top: 20px;
}
.pilar_additional_box {
    position: fixed;
    top: 0;
    left: 0;
    background: #0000003d;
    width: 100%;
    height: 100%;
    z-index: 999999999;
    display: none;
}
.pilar_additional_box .form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 600px;
    background: white;
    padding: 20px;
}
.pilar_additional_box.show {
    display: block;
}
.pilar_additional_box_close {
	background: #009e82;
	width: 30px;
	height: 31px !important;
	display: inline-block;
	border-radius: 100px;
	color: #fff !important;
	position: absolute;
	right: 5px;
	top: 5px;
	text-align: center;
	line-height: 10px !important;
	font-size: 16px;
	border: none;
    cursor: pointer;
}
.info_linking_table,
.pilar_zoom_link {
    display: none;
}
.additiona_info_text {
	min-height: 300px !important;
	background: transparent !important;
	border: 1px solid #ddd !important;
    margin: 10px 0;
    padding: 10px;
}
.image_previewer img {
    width: 100% !important;
    height: 120px !important;
    max-width: 150px !important;
    border-radius: 0 !important;
    object-fit: cover;
    object-position: top;
}
.image_previewer button {
    display: none;
}

#submission_info {
    width: 70% !important;
}

@media (max-width: 991px) {
    #submission_info {
        width: 100% !important;
    }
    #submission_info .close {
        top: 77px !important;
    }
}